<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918767328904-b5kn117bu1i4ul0fd0tus95vhel4kmvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918767328904-b5kn117bu1i4ul0fd0tus95vhel4kmvn</string>
	<key>API_KEY</key>
	<string>AIzaSyAA_TUBtyV7kQ3k8AzaDhF5PnwgB_mgGxM</string>
	<key>GCM_SENDER_ID</key>
	<string>918767328904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mosquenearme</string>
	<key>PROJECT_ID</key>
	<string>mosquenearme-a3c00</string>
	<key>STORAGE_BUCKET</key>
	<string>mosquenearme-a3c00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918767328904:ios:a201b28c3c7e7549c9893d</string>
</dict>
</plist>